.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 18% / 75%;
  padding: 0.35rem 1.1rem;
  background-color: #529cc7;
  color: #062925;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.55);
  border: 1px solid #d2e5f0;
}

.item p {
  color: #02221e;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
