.products {
  & h2 {
    color: #529cc7;
    margin: 5rem auto 2rem;
    text-align: center;
    border-bottom: 2px solid #04a18c;
    width: 20rem;
    padding-block: 5px;
    border-radius: 90% / 25%;
  }

  & header {
    color: #054d43;
    margin-bottom: 1rem;
  }

  & button {
    background: #d5dddc;
    color: #04a18c;
    font-weight: bold;
    transition: all 0.2s ease-in;
    border-radius: 68px / 8%;
    border: 2px solid #04a18c;
    padding: 0.3rem 0.7rem;
  }

  & button:hover {
    border-color: #2183bb;
    color: #2183bb;
  }
}

.products .item {
  border-radius: 5% / 90%;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
