.auth {
  margin: 5rem auto;
  box-shadow: 0 6px 18px rgba(133, 133, 133, 0.4);
  width: 25rem;
  border-radius: 70% / 5%;
  padding: 0.7rem;
  text-align: center;
  background-color: #f4f0fa;

  & button {
    margin-top: 1rem;
  }
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #616161;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  margin-top: 1.1rem;
}

.control input {
  display: block;
  width: 20rem;
  margin: auto;
  border-radius: 4px;
  padding: 0.55rem;
  border: 1px solid #ccc;
  outline: none;
}
