.counter {
  margin: 5rem auto;
  box-shadow: -2px -8px 18px rgba(201, 201, 201, 0.2);
  width: 40rem;
  border-radius: 90% / 7%;
  padding: 2rem;
  text-align: center;
  background-color: #e3e1e6;

  & button {
    margin: 1rem 2rem;
  }
}

.counter h1 {
  width: 18rem;
  text-transform: uppercase;
  color: #f09d03;
  margin: 0 auto 2rem;
  font-size: 1.5rem;
  border-bottom: 10px dotted #f09d03;
  padding: 10px;
  border-radius: 30% / 14%;
}

.value {
  font-size: 2rem;
  color: #161616;
  margin: 4rem 0;
  font-weight: bold;
}
