.button {
  background-color: transparent;
  color: #1ad1b9;
  border: 2px solid transparent;
  border-radius: 5% / 55%;
  padding: 0.7rem;
  transition: all 0.3s ease-in;
}

header .button:hover,
header .button:active {
  color: #1a8ed1;
  border-color: #1a8ed1;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  border: 1px solid #1a8ed1;
  border-radius: 10% / 55%;
  padding: 0.15rem 1.25rem;
  color: #1a8ed1;
  transition: all 0.3s ease-in;
}
