.item {
  margin: 0.8rem 0 1rem;
  background-color: #575757;
  padding: 0.5rem 1.5rem;
  border-radius: 4% / 95%;

  & h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.25rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-size: 1.2rem;
  font-weight: bold;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
}

.itemPrice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid #318177;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: #1ad1b9;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4b4b;
  color: white;
}
