* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background: linear-gradient(to bottom, #201f20, #818181);
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #30302e;
  border: 4px solid transparent;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 90% / 15%;
  transition: all 0.2s ease-in;
  letter-spacing: 0.5px;
  box-shadow: 0 -2px 15px 2px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

button:hover,
button:active {
  background-color: #42403a;
  color: rgb(240, 214, 180);
  border-bottom-color: rgba(245, 245, 245, 0.726);
  box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.6);
}
